.venv
*.egg-info
dist
build
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.bak
.DS_Store
.idea
.vscode
*.swp
*.swo
*.tmp
*.cache
*.coverage
.coverage.*
htmlcov
.tox
.nox
.pytest_cache
.coverage
nosetests.xml
coverage.xml
figures